/.idea
/project_4/code/.sql_creds.py
/.ipynb_checkpoints/
/project_4/code/test.ipynb


**/.ipynb_checkpoints/*

/project_4/code/.ipynb_checkpoints/
/aaron/.ipynb_checkpoints/
/assets/svd_df.csv
**/.DS_Store

